@{
    ViewBag.Title = "Patient Questionnaire";
}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins border-bottom">
                <div class="ibox-title">
                    <h5>New Patient Questionnaire</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Question set: Default</a>
                            </li>
                            <li>
                                <a href="#">Question set: Serious Injury</a>
                            </li>
                            <li>
                                <a href="#">Question set: Sports Injury</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Please select question set and select start button to start your questions.</h3>
                            <div class="form-group">
                                <strong>Lorem ipsum dolor</strong>
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4>Start Here</h4>
                            <p class="text-center">
                                <a href='Question/DoQuestionnaire'><i class="fa fa-sign-in big-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



